---
import WorkCard from "../components/WorkCard.astro";
import books from "../config/books.json";
---
<h1>Works</h1>
  {
    books.map((book) => {

      return (
        <WorkCard
          cover={book.cover}
          title={book.title}
          description={book.description},
          path={book.path}
        />
      );
    })
  }