---
import Btn from "../components/btn_func.astro";
---

<nav>
  <Btn id="btnHome" icon="bi bi-house-fill" />
  <Btn id="btnLightMode" icon="bi bi-brightness-low-fill" />
  <Btn id="btnMenu" icon="bi bi-list" />
</nav>

<script>
  import * as common from "../scripts/common";

  const btnHome = document.getElementById("btnHome");
  btnHome?.addEventListener("click", common.redirectHome);
  const btnMenu = document.getElementById("btnMenu");
  btnMenu?.addEventListener("click", () => {
    document.getElementById("menubg")?.classList.add("showf");
    document.getElementById("menu")?.classList.add("slide-right");
  });
</script>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
</style>
