---
import authorData from "../config/author.json";
import Header from "./PageHeader.astro";
import 'bootstrap-icons/font/bootstrap-icons.css';
import '../styles/default.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{authorData.name}</title>
	</head>
	<body>
		<Header></Header>
		<section class="content">
			<slot />
		</section>
	</body>
</html>

<style>
	html,
	body {
		background-color: var(--secondary-color);
		color: var(--font-color);
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
	}
</style>
